html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white; 
    font-family: monospace;
    font-size: 100%;
   
}

h2{
  color: #c12709;
  font-size: 25px;
  text-align: center;
}
