/*Fiche de style pour les pages de La Cité des Voleurs*/


h2 {
    text-align: center;
    font-weight: bold;
    color: darkolivegreen;
}

.container {
    position: relative;
}

.container img {
    width: 100%;
    height: auto;
    padding-bottom: 80px;
}

.container .content {
    position: absolute;
    top: 0%;
    width: 96.75%;
    text-align: center;
    color: beige;
    background-color: darkolivegreen;
    opacity: 90%;
    padding: 20px 0px;
}

.text-block {
    position: absolute;
    top: 27%;
    left: 10%;
    right: 10%;
    text-align: center;
    color: beige;
    background-color: darkolivegreen;
    opacity: 95%;
    padding: 15px 20px;
}

.container .bot-btn {
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border: darkgreen;
    color: lightgoldenrodyellow;
    background-color: darkgreen;
    opacity: 65%;
    cursor: pointer;
}

.container .mid-btn {
    position: absolute;
    left: 50%;
    bottom: 39%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border: darkgreen;
    color: lightgoldenrodyellow;
    background-color: darkgreen;
    opacity: 65%;
    cursor: pointer;
}

.container .top-btn {
    position: absolute;
    left: 50%;
    bottom: 53%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border: darkgreen;
    color: lightgoldenrodyellow;
    background-color: darkgreen;
    opacity: 65%;
    cursor: pointer;
}

.bot-btn:hover {
    background-color: darkgreen;
    opacity: 95%;
}

.mid-btn:hover {
    background-color: darkgreen;
    opacity: 95%;
}

.top-btn:hover {
    background-color: darkgreen;
    opacity: 95%;
}

.bot-btn:active {
    background-color: black;
    color: beige;
    opacity: 100%;
}

.mid-btn:active {
    background-color: black;
    color: beige;
    opacity: 100%;
}

.top-btn:active {
    background-color: black;
    color: beige;
    opacity: 100%;
}