#detailsMap{
	height : 400px;
}

body{
	font-family: 'Raleway'
}

.carte{
	margin-top: 15%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	height: 402px;
}

.wrapperC{
    width:400px;
    height: 700px;
    margin:auto;
    margin-bottom: 20px;
    margin-top:8px;
}

/* Bordered form */
.wrapperC {
    padding: 10px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.wrapperC h1{
    text-align: center;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 80%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    right: 50%;
}

/* Set a style for all buttons */
button[type=submit] {
    padding: 7px 10px;
    margin: 8px 0;
    border: solid #0f4c5c;
    cursor: pointer;
    width: 170px;
    border-radius: 10px;
    background-color:#0f4c5c;
    color:white;
}
button[type=submit]:hover {
    background-color: white;
    color:black;   
}

a{
	color: grey;
}

.error{
    color:red;
}

.time{
	width: 50px;
}

form{
    display: inline-block;
}

body {
    text-align: center;
}

.left{
    text-align: left;
}

select{
    width: 60px;
}