header
{
    font-size: 17px;
    margin: 0 0 10px 0;
}

header a, header a:visited, header a:hover, a:link
{
    color: #0000FF;
}

header a:active
{
    color: #FF0000;
}

header .topnav
{
    background-color: #DDDDDD;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header .topnav .left-side
{
    float: left;
    background-color: #DDDDDD;
}

header .topnav .login-feedback
{
    float: right;
    background-color: #DDDDDD;
}

header .topnav .left-side a
{
    display: block;
    color: #000000;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

header .topnav .login-feedback
{
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

header .topnav .login-feedback a
{
    display: inline;
}
