#karaQueue button
{
    margin-right: 10px;
}


#karaQueue img
{
    line-height: 60px;
    margin: 5px 8px 5px 0px;
    vertical-align: middle;
}

#karaQueue #queueAdder
{
    float: right;
    vertical-align: bottom;
    line-height: 60px;
    margin-right: 10px;
}
