#karaSearch
{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    background-color: #DDDDDD;
    border-color: #000000;
    border-radius: 5px;
}

#karaList
{
}

#aKaraInKaraList
{
    width: 98%;
    text-align: left;
    color: #FFFFFF;
    background-color: #5b6977;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    display: block;
}

#aKaraInKaraList button, #karaQueue button
{
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 7px;
    border: 0px solid;
    transition-duration: 0.2s;
}


#aKaraInKaraList button:hover, #karaQueue button:hover
{
    border-radius: 7px;
    color: #FFFFFF;
    background-color: #000000;
}


#karaList
{
    min-height: 500px; /* Prevent the page to go up when all karas are disables,
                     so that the user is forced to scroll down to see karas
                     after he cleared the search*/
}
