#karaQueue li
{
    line-height: 62px;
}

#karaQueue button
{
    margin-right: 10px;
}


#karaQueue img
{
    line-height: 62px;
    margin: 5px 8px 5px 5px;
    vertical-align: middle;
}

#karaQueue #queueAdder
{
    float: right;
    vertical-align: middle;
    line-height: 62px;
    margin-right: 10px;
}
