head{
	background-color:#2B3E50
}
body{
	background-color:#2B3E50;
	color:#df691a;
	
}
p{
	text-align:center;
	size :10px
	
	
}
form{
	text-align:center
}
img{

}

input[type=text]{
	border: 2px solid #df691a ;
	border-radius: 4px;
	size 10px;
}
label{
	color: #df691a;
	size: 10px;
}
a:link{
	color: #df691a;
}
a:hover{
	color: orange;
}
a:active{
	color:#df691a;
}
.choice{
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
}
.funky{
	position : absolute;
	cursor : pointer;
	opacity : 0;	
	
	height : 200px;
	width : 200px;
	background-color : #df691a;
	border-radius : 0%;
}
.checkmark{
	position: absolute;
	height:200px;
	width:200px;
}
.container input:checked ~ .checkmark {
	border-radius: 50%;
}


#karaSearch
{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: #0000FF;
    background-color: #FF0000;
    border-color: #00FF00;
    border-radius: 5px;
}

#aKaraInKaraList
{
    width: 100%;
    padding: 15px 32px;
    text-align: left;
    background-color: #00FF00;
    border-radius: 15px;
    display: block;
}

#aKaraInKaraList:hover
{
    border-color: #FF0000;
}

#karaList
{
    height: 800px; /* Prevent the page to go up when all karas are disables,
                     so that the user is forced to scroll down to see karas
                     after he cleared the search*/
}
